<div class="animal">
  <div class="px-5 inner__container">
    <h2 class="inner__container-title">Борис</h2>
        <div class="animal-info">
          <div class="animal-img">
          <img src="/images/test.png" alt="">

          </div>
          <div class="discription">
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore similique quaerat temporibu</div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis asperiores quas exercitationem labore quibusdam dignissimos nesciunt et deleniti delectus excepturi. Culpa, atque? Aut tempora, omnis enim earum corporis ipsam quia!
            <p></p>
          </div>
        </div>
  </div>
</div>

<div class="animal_carousel"></div>


<div class="animal_carousel">
    <h2 class="inner__container-title">Галерея</h2>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

