<div class="category">
  <div class="px-5 inner__container">
    <h2 class="inner__container-title">Львы</h2>
    <div class="animal">
        {{!-- Each card ... --}}
        {{> animalCard}} 
        {{> animalCard}}
        {{> animalCard}}
    </div>
  </div>
</div>