<script defer src='/js/wsChat.js'></script>

<div class='admin-container'>
  <form class='bg-dark' name='chatForm'>
    <div class='mb-3'>
      <label for='author' class='form-label'>Имя</label>
      <input
        type='text'
        name='author'
        class='form-control'
        id='author'
        aria-describedby='emailHelp'
        required
      />
    </div>
    <div class='mb-3'>
      <label for='text' class='form-label'>Сообщение</label>
      <input type='text' name='text' class='form-control' id='text' required />
    </div>
    <button type='submit' class='btn btn-primary'>Отправить сообщение</button>
  </form>
</div>

<div class='messages'>
  <div class='message-container'>

  </div>
</div>
<template id='message-template'>
  <div class='message'>
    <h3 class='message__author'></h3>
    <p class='message__text'></p>
  </div>
</template>