<script defer src='/js/wsChat.js'></script>

<div class='chat-container chat'>
  <form class='bg-dark form chat__form px-3' name='chatForm'>
    <div class='mb-3'>
      <label for='author' class='form-label'>Имя</label>
      <input
        type='text'
        name='author'
        class='form-control'
        id='author'
        aria-describedby='emailHelp'
        required
      />
    </div>
    <div class='mb-3'>
      <label for='text' class='form-label'>Сообщение</label>
      <input type='text' name='text' class='form-control' id='text' required />
    </div>
    <button type='submit' class='btn btn-primary'>Отправить сообщение</button>
  </form>

  <div class='msger-chat'>
    <div class='msg left-msg'>
      <div class='msg-bubble'>
        <div class='msg-info'>
          <div class='msg-info-name message__author'>BOT</div>
          <div class='msg-info-time message__date'>12:45</div>
        </div>

        <div class='msg-text message__text'>
          Hi, welcome to SimpleChat! Go ahead and send me a message. 😄
        </div>
      </div>
    </div>
  </div>

</div>

<template id='message-template'>
  <div class='message'>
    <div class='message__header'>
      <img src='' class='rounded me-2' alt='...' />
      <strong class='message__author'></strong>
      <small class='message__date'></small>
    </div>
    <div class='message__text'></div>
  </div>
</template>