<div class="intro">
  <div class="intro__inner">
    <h2 class="intro__title">Название</h2>
    <div class="intro__info">
      <p>г.Москва ул.Зоопарковая 5</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit sequi natus laboriosam aperiam itaque laborum.
        Veritatis
        vero, autem dolore maiores voluptatem distinctio, neque deserunt</p>
      <ul>Режим работы
        <li>Будни</li>
        <li>Выходные</li>
      </ul>
    </div>
  </div>
</div>

<div class="news">
  <div class="px-5 inner__container">
    <h2 class="inner__container-title">Новости</h2>
        {{!-- Each card ... --}}
        {{#each news}}
          {{> newsCard}} 
        {{/each}}
        <div class="text-right d-block">
          <a href="/news">Смотреть все новости зоопарка</a>
        </div>
  </div>
</div>

<div class="galery">
  <div class="inner__container--wide">
    <h2 class="inner__container-title text-center">Наши Животные</h2>
    <div class="galery-wrapper">
      <div class="one galery_card">{{>galeryCard}}</div>
      <div class="two galery_card">{{>galeryCard}}</div>
      <div class="three galery_card galery_card--long">{{>galeryCard}}</div>
      <div class="four galery_card">{{>galeryCard}}</div>
      <div class="five galery_card">{{>galeryCard}}</div>
      <div class="six galery_card">{{>galeryCard}}</div>
      <div class="seven galery_card">{{>galeryCard}}</div>
    </div>
  </div>
</div>

<div id="tariffs">
  <div class="px-5 inner__container">
    <h2 class="inner__container-title">Taрифы</h2>
    <div class="d-flex flex-wrap">
      {{!-- Each card ... --}}
      {{#each tariffs}}
      {{> tariffsCard}}
      {{/each}}
    </div>
  </div>
</div>

<div id="contacts">
  <div class="px-5 inner__container--wide">
    <h2 class="inner__container-title">Контакты</h2>
    <div class="contacts__inner">
      <div class="map">
        <img src="https://i.imgur.com/PQJhTf7.png" alt="">
      </div>
      <div class="contacts__inner-info">
        <div class="info">
          <p><a href="">г.Москва, ул.Зоопарковая 5</a></p> 
          <p><a href="tel:+74951234567">+7 (495) 123-45-67</a></p>
          <p><a href="tel:7495123456">12-23-45</a></p>
          <p><a href="mailto:ask@htmlbook.ru">Задавайте вопросы по электронной почте</a></p> 
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer bg-dark">
  <a href="/admin/login">admin</a>
</div>

