  <div class="galery_item">
    <img class="galery_img" src="/images/test.png" alt="">
    <div class="galery_info">
      <div class="galery_title">animal name</div>
      <a class="galery_text">Lorem ipsum dolor sit</a>
    </div>
  </div>