<div class="card border-0 my-5 overflow-hidden mb-3" style='width: 50rem;'>
  <div class='news-img'>
    <img src="{{image}}" class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <h5 class='card-title'>{{title}}</h5>
      <h6 class='card-subtitle mb-2 text-muted'>Card subtitle</h6>
      <p class='card-text'>{{content}}</p>
      <a href='/news/{{id}}' class='see-more link-secondary'>
        Узнать больше
      </a>
  </div>
</div>
